@{
    Layout = null;
}


<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="gt-ie8 gt-ie9 not-ie">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <!-- Open Sans font from Google CDN -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">

    <!-- Pixel Admin's stylesheets -->
    @Styles.Render("~/Content/PixelAdmin")
    @Styles.Render("~/Content/Custom")

    <!--[if lt IE 9]>
        <script src="assets/javascripts/ie.min.js"></script>
    <![endif]-->
    <!-- $DEMO =========================================================================================

        Remove this section on production
    -->
    <style>
        #signup-demo {
            position: fixed;
            right: 0;
            bottom: 0;
            z-index: 10000;
            background: rgba(0,0,0,.6);
            padding: 6px;
            border-radius: 3px;
        }

            #signup-demo img {
                cursor: pointer;
                height: 40px;
            }

                #signup-demo img:hover {
                    opacity: .5;
                }

            #signup-demo div {
                color: #fff;
                font-size: 10px;
                font-weight: 600;
                padding-bottom: 6px;
            }

        .has-feedback .form-control-feedback {
            top: 10px;
            line-height: initial;
        }

        .has-info .form-control-feedback {
            color: #24A1DB;
        }

        .has-error input {
            border-color: #d8687a;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

            .has-error input:focus {
                border-color: #d8687a !important;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
            }

        .has-error .jquery-validate-error {
            color: #b94a48 !important;
            font-size: 12px;
            font-family: 'Open Sans';
            display: inline;
        }
    </style>
    <!-- / $DEMO -->

</head>


<!-- 1. $BODY ======================================================================================

    Body

    Classes:
    * 'theme-{THEME NAME}'
    * 'right-to-left'     - Sets text direction to right-to-left
-->
<body class="theme-default page-signup">

    <script>
        var init = [];
    </script>
    <!-- Demo script -->
    <script src="~/Scripts/PixelAdmin/demo.js"></script>
    <!-- Page background -->
    <div id="page-signup-bg">
        <!-- Background overlay -->
        <div class="overlay"></div>
        <!-- Replace this with your bg image -->
        <img src="assets/demo/signin-bg-1.jpg" alt="">
    </div>


    <!-- Get jQuery from Google CDN -->
    <!--[if !IE]> -->
    <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">' + "<" + "/script>"); </script>
    <!-- <![endif]-->
    <!--[if lte IE 9]>
        <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">'+"<"+"/script>"); </script>
    <![endif]-->
    <!-- Pixel Admin's javascripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/pixeladmin")
    @Scripts.Render("~/bundles/plugins")

    <script type="text/javascript">
        // Resize BG
        init.push(function () {
            var $ph = $('#page-signup-bg'),
                $img = $ph.find('> img');

            $(window).on('resize', function () {
                $img.attr('style', '');
                if ($img.height() < $ph.height()) {
                    $img.css({
                        height: '100%',
                        width: 'auto'
                    });
                }
            });
        });

        window.PixelAdmin.start(init);
    </script>
    <script>
        $('#signup-form_id').validate({
            onsubmit: false,
            rules: {
                Email: {
                    required: true,
                    email: true
                },
                Password: {
                    required: true,
                    minlength: 5
                },
                ConfirmPassword: {
                    equalTo: "#Password"
                },
                signup_confirm: "required"
            },
            messages: {
                Email: {
                    required: "Email is required",
                    email: "Invalid Email address"
                },
                Password: {
                    required: "Password is required",
                    minlength: "Require at least 5 characters"
                },
                ConfirmPassword: {
                    equalTo: "Passwords does not match"
                },
                signup_confirm: ""
            },
            errorPlacement: function (error, element) {
                element.parent().append(error);
            }
        });

        $('#btnSignUp').click(function () {
            var form = $("#signup-form_id");
            if (!form.valid()) {
                return false;
            }
            return true;
        });

        $('#Email').on('input', function (e) {
            //$('#Email').validate({
            //    rules: {
            //        Email: {
            //            email: true
            //        }
            //    }
            //});
            //var email = $("#Email");
            //if (email.valid()) {
            //    alert('valid');
            //}
            //if ($("#signup-form_id").validate().element($("#Email"))) {

            //    if ($("#Email").valid()) {
            //        alert('valid');
            //    }
            //}
        });
        $(document).ready(function () {
            var msg = '@ViewBag.ErrorMessage';
            if (msg == "Email") {
                $('#email-error').show();
                $('#email-error').addClass('animated fadeIn');
            }
        });
    </script>
</body>
</html>
