@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CodeStorm - Confirm Email</title>
    <base href="/">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/PixelAdmin")
    @Styles.Render("~/Content/Plugins")
    <link href="~/Content/blankpages.css" rel="stylesheet" />
</head>
<body class="theme-default page-404 page-notice page-emailinfo">
    <script>var init = [];</script>
    <div class="header">
        <a href="/" class="logo">
            <div class="demo-logo"><img src="assets/demo/logo-big.png" alt="" style="margin-top: -4px;"></div>&nbsp;
            <strong>CodeStorm</strong>
        </a> <!-- / .logo -->
    </div> <!-- / .header -->

    <div class="container">
        <div class="note note-info">
            <div class="msg-heading"><b>REGISTRATION SUCCESSFUL!!!</b></div>
            <p class="note-desc">Congratulations you have successfully registered on CodeStorm Scheduler.</p>
            <p>We have send a email containing email confirmation link to your email address. Please log in to your email account and confirm your email before login.</p>
            <p class="help-block">note : if you can't find the email please check in spam folder as well</p>
            <div class="action-buttons">
                @using (Html.BeginForm("EmailResend", "Account", FormMethod.Post, new { role = "form"}))
                {
                    <input type="button" class="btn btn-primary" value="Navigate to Home Page" id="btn-home"/>
                    <input type="submit" class="btn btn-primary" value="Resend Email"/>
                }
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/pixeladmin")
    @Scripts.Render("~/bundles/plugins")
    <script type="text/javascript">
        init.push(function () {
            // Javascript code here
        });
        window.PixelAdmin.start(init);
        $('#btn-home').click(function() {
            window.location.href = "/";
        });
    </script>
</body>
</html>
