@model CodeStormScheduler.Models.ExternalLoginConfirmationViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CodeStorm</title>
    <base href="/">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/PixelAdmin")
    @Styles.Render("~/Content/Plugins")
    <link href="~/Content/blankpages.css" rel="stylesheet" />
</head>
<body class="theme-default page-signup-alt page-reset-pass">
    <script>var init = [];</script>
    <div class="signup-header">
        <a href="index.html" class="logo">
            <div class="demo-logo bg-primary"><img src="assets/demo/logo-big.png" alt="" style="margin-top: -4px;"></div>&nbsp;
            <strong>CodeStorm</strong>
        </a> <!-- / .logo -->
    </div>
    <h1 class="form-header">Register Email Address</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="note note-info">
                You've successfully authenticated with <strong>Facebook</strong>.
                Please enter a your email for this site below and click the Register button to finish
                logging in.
            </div>
        </div>
    </div>
</div>
    @using (Html.BeginForm("externalloginconfirmation", "account", FormMethod.Post, new { @class = "panel", role = "form", id = "reset-form_id" }))
    {
        @Html.AntiForgeryToken()

        <div id="email-error" style="display: none">
            <div class="alert alert-danger alert-sm">
                Email address already exists.!<br />
                <span class="text-warning">Do you alreay have a account ? </span> <a href="/Account/Login"><strong>Sign In Here</strong></a>
            </div>
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", placeholder = "E-mail" })
        </div>
        <div class="form-actions">
            <input type="submit" value="Register" class="btn btn-primary btn-lg btn-block" id="btnResetPass">
        </div>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/pixeladmin")
    @Scripts.Render("~/bundles/plugins")
    <script type="text/javascript">
        window.CodeStorm = {};
    </script>
    <script type="text/javascript">
        init.push(function () {
            // Javascript code here
        });
        window.PixelAdmin.start(init);
        $('#signup-form_id').validate({
            onsubmit: false,
            rules: {
                Email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                Email: {
                    required: "Email is required",
                    email: "Invalid Email address"
                }
            },
            errorPlacement: function (error, element) {
                element.parent().append(error);
            }
        });
        $('#btnResetPass').click(function () {
            var form = $("#reset-form_id");
            if (!form.valid()) {
                return false;
            }
            return true;
        });
        $(document).ready(function () {
            var msg = '@ViewBag.ErrorMessage';
            if (msg == "Email") {
                $('#email-error').show();
                $('#email-error').addClass('animated fadeIn');
            }
        });
    </script>
</body>
</html>
