@model CodeStormScheduler.Models.ResetPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CodeStorm - Confirm Email</title>
    <base href="/">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/PixelAdmin")
    @Styles.Render("~/Content/Plugins")
    <link href="~/Content/blankpages.css" rel="stylesheet" />
</head>
<body class="theme-default page-signup-alt page-reset-pass">
    <script>var init = [];</script>
    <div class="signup-header">
        <a href="index.html" class="logo">
            <div class="demo-logo bg-primary"><img src="assets/demo/logo-big.png" alt="" style="margin-top: -4px;"></div>&nbsp;
            <strong>CodeStorm</strong>
        </a> <!-- / .logo -->
        <a href="/account/login" class="btn btn-primary">Sign In</a>
    </div>
    <h1 class="form-header">Reset Password</h1>
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "panel", role = "form", id = "reset-form_id" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Code)
        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", placeholder = "E-mail" })
        </div>

        <div class="form-group">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", placeholder = "New Password" })
        </div>

        <div class="form-group">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-lg", placeholder = "Retype Password" })
        </div>

        <div class="form-actions">
            <input type="submit" value="Reset Password" class="btn btn-primary btn-lg btn-block" id="btnResetPass">
        </div>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/pixeladmin")
    @Scripts.Render("~/bundles/plugins")
    <script type="text/javascript">
        window.CodeStorm = {};
    </script>

    <script type="text/javascript">
        init.push(function () {
            // Javascript code here
        });
        window.PixelAdmin.start(init);
        $('#signup-form_id').validate({
            onsubmit: false,
            rules: {
                Email: {
                    required: true,
                    email: true
                },
                Password: {
                    required: true,
                    minlength: 5
                },
                ConfirmPassword: {
                    equalTo: "#Password"
                }
            },
            messages: {
                Email: {
                    required: "Email is required",
                    email: "Invalid Email address"
                },
                Password: {
                    required: "Password is required",
                    minlength: "Require at least 5 characters"
                },
                ConfirmPassword: {
                    equalTo: "Passwords does not match"
                }
            },
            errorPlacement: function (error, element) {
                element.parent().append(error);
            }
        });
        $('#btnResetPass').click(function () {
            var form = $("#reset-form_id");
            if (!form.valid()) {
                return false;
            }
            return true;
        });
    </script>
</body>
</html>
